# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode

# Server 
.idea
painter-backend/server/static/webroot/node_modules
painter-backend/server/static/webroot/dist
painter-backend/server/static/upload/*
painter-backend/build/*
painter-backend/logs/*
painter-backend/server/static/webroot/*