GATEWAY_PORT=18080
IDENTITY_PORT=18081
CONTENT_PORT=18082
SYSTEM_PORT=18083
ANALYTICS_PORT=18084

IDENTITY_BASE_URL=http://localhost:18081
CONTENT_BASE_URL=http://localhost:18082
SYSTEM_BASE_URL=http://localhost:18083
ANALYTICS_BASE_URL=http://localhost:18084

WEB_API_BASE_URL=http://localhost:18080/api/v1
ADMIN_API_BASE_URL=http://localhost:18080/api/v1
